.dashboard {
       
    margin-left: 0px;
    margin-top: 150px;
   
    color: white;

  }
.driver_list{

    margin-left: 0px;
    margin-top: 25px;
   
    color: white;


}
.trips{

    margin-left: 0px;
    margin-top: 25px;
   
    color: white;


}
.balance {

    margin-left: 0px;
    margin-top: 25px;
   
    color: white;


}
.agent {

 
    margin-left: 0px;
    margin-top: 25px;
   
    color: white;

}
.credit_req
{

 
    margin-left: 0px;
    margin-top: 25px;
   
    color: white;

}
.promo {


    margin-left: 0px;
    margin-top: 25px;
   
    color: white;



}