.Sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #06163a; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  .Sidenav i {
       
    margin-left: 30px;
   
    color: white;

  }
  .Sidenav h6 {
       
    margin-left: 30px;
    margin-top: 0px;
   
    color: white;

  }
  